{{#each links}}
    <div class='link' data-id='{{id}}'>
    	{{#if ../user}}
		<div class='votings'>
		    <div class='vote up {{addRankingClass 'up'}}' {{bind-attr class="cantRankUp:disabled"}} data-method='up'></div>
		    <span class='ranking'>{{ranking}}</span>
		    <div class='vote down {{addRankingClass 'down'}}' data-method='down'></div>
		</div>
	{{/if}}

        <div class='container'>
            <h2>{{title}}</h2>
            <p><a href='{{url}}' target='_blank'>{{url}}</a></p>
            <p class='author'>Author: {{author}}</p>
        </div>
        <p class='date'>{{date}}</p>

    	{{#equal ../user author}}
		<input type='submit' class='delete' value='Delete' />
	{{/equal}}
    </div>
{{/each}}